<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tm_param_key</key>
	<string>page</string>
	<key>search_manga_pc_1</key>
	<string>search</string>
	<key>search_manga_pc_2</key>
	<string>story</string>
	<key>force_update_current_version</key>
	<string>1.0.0(1)</string>
	<key>force_update_store_url</key>
	<string>https://www.apple.com/app-store/</string>
	<key>is_force_update_required</key>
	<string>false</string>
	<key>tm_url</key>
	<string>&quot;&quot;</string>
	<key>search_manga_url</key>
	<string>&quot;&quot;</string>
	<key>tm_list_query</key>
	<string>div.list-truyen-item-wrap</string>
	<key>tm_detail_query</key>
	<string>&gt; a</string>
	<key>tm_title_query</key>
	<string>img</string>
	<key>tm_image_query</key>
	<string>img</string>
	<key>tm_detail_attr</key>
	<string>href</string>
	<key>tm_title_attr</key>
	<string>alt</string>
	<key>tm_image_attr</key>
	<string>src</string>
</dict>
</plist>
